<div class="flex flex-col drop-shadow-md shadow-md md:flex-row w-full max-w-3xl justify-center items-center">
    <div class="md:w-1/2 bg-gray-100 px-8 py-6 mb-4 md:mb-0">
        <img src="assets/image/chat_app.jpg" alt="Chat App" class="w-full mb-4">
        <p class="text-lg font-medium mb-4">Welcome to the Chat App!</p>
        <p>Connect with friends, family, and colleagues in real-time. Share messages, photos, and videos in a secure and
            private environment.</p>
    </div>
    <div class="md:w-1/2 rounded px-8 pt-6 pb-8 mb-4 md:ml-4">
        <h2 class="text-xl font-semibold mb-4">Register</h2>
        <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
                <input pattern="^(?![0-9\s]+$)[A-Za-z\s]+$
          " class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="name" name="name" type="text" [(ngModel)]="formData.name" #name="ngModel" required>

                <small *ngIf="name.invalid && showError">
                    <small class="text-sm text-red-500" *ngIf="name.errors?.['required']">Name is required</small>
                    <small class="text-sm text-red-500" *ngIf="name.errors?.['pattern']">Please enter a valid
                        name</small>

                </small>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" name="email" #email="ngModel" type="email" [(ngModel)]="formData.email"
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>

                <small *ngIf="email.invalid && showError">
                    <small class="text-sm text-red-500" *ngIf="email.errors?.['required']">Email is required</small>
                    <small class="text-sm text-red-500" *ngIf="email.errors?.['pattern']">Please enter a valid
                        email</small>

                </small>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" name="password" #password="ngModel" type="text" [(ngModel)]="formData.password" required>

                    <small *ngIf="password.invalid && showError">
                        <small class="text-sm text-red-500" *ngIf="password.errors?.['required']">Password is required</small>
                    </small>
            </div>
            <div class="flex items-center justify-end">
                <button type="submit"
                    class="bg-[#77d5c3] hover:bg-[#49a796] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Register</button>
            </div>
            <div class="mt-6">
                <span>Already have an account? <a class="text-[#77d5c3] hover:text-[#30796c]"
                        routerLink="/auth/login">Login</a></span>
            </div>
        </form>
    </div>
</div>